<main>
  <h1>
    welcome to
   <strong>Bookers</strong>
    !!
  </h1>

 <footer>
    <div class="container mt-5">
      <div class="rouw">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</main>    